#posts {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  min-width: 360px;
  background: grey;

  #content {
    background: white;
    width: 80%;
    height: 800px;
  }

  #post-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 360px);
  background: rgb(241, 255, 223);
  align-items: center;
  }
}
