.form-wrapper {
  display: flex;
  width: 360px;
  background: rgb(223, 223, 223);
  float: right;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 12px;
  border: solid rgba(0, 0, 0, 0.1) 3px;
  box-sizing: border-box;

  h2 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .form-input {
    width: calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;
    resize: none;
    font-family: sans-serif;
    font-size: 18px;
    padding: 4px;
  }
  .file-upload {
    font-size: 16px;
    margin: 10px;
    margin-top: 0;
  }
  .submit-button {
    font-size: 18px;
    padding: 4px 0;
    width: calc(100% - 20px);
    margin: 10px;
  }
}

@media (max-width: 1200px) {
  .form-wrapper {
    width: 100%;
  }
}
